<footer>{{dev.cp}} <a href="{{metadata.url}}">{{metadata.title}}</a> {{dev.built}} <a href="{{dev.ssg}}">{{dev.generator}}</a> {{dev.repo}} <a href="{{dev.git}}">{{dev.clone}}</a> {{dev.power}} <a href="{{dev.cloud}}">{{dev.host}}</a> <br/>{{dev.by}} <a href="{{dev.hire}}">{{dev.developer}}</a></footer></body></html>