---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1><a href="{{page.url}}">{{ title }}</a></h1>
<h2>{{description}}</h2>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

